@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #2b283a;
  --grey: #918e9b;
  --red: #f55a5a;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.journal {
  margin: 0 auto;
  padding: 40px;
  height: 704px;
  width: 550px;
  background-color: antiquewhite;
}

.header {
  background-color: var(--red);
  text-align: center;
  color: white;
}

.card {
  background-color: white;
  border: solid black 2px;
  height: 168px;
  width: 471px;
  padding: 5px;
}
