@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #2b283a;
  --grey: #918e9b;
  --red: #f55a5a;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--grey);
}

.journal {
  margin: 0 auto;
  padding: 40px;
  height: 704px;
  width: 550px;
}

.header {
  background-color: var(--red);
  height: 55px;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header i {
  padding-top: 4px;
  padding-right: 10px;
  font-size: x-large;
}

.card {
  height: 168px;
  width: 471px;
  padding: 5px;
  display: flex;
  background: white;
}

img {
  width: 125px;
  height: 160px;
  background-size: 160px, 125px;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.info p {
  font-size: 10px;
}

.county {
  display: flex;
  flex-direction: row;
}

.country i {
  padding-top: 4px;
  padding-right: 10px;
  font-size: small;
  color: var(--red);
}

.break {
  stroke: Solid #black;
  height: 2px;
}
