@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #2b283a;
  --grey: #918e9b;
  --red: #f55a5a;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--grey);
}

.journal {
  margin: 0 auto;
  height: 80vh;
  width: 51vw;
  padding: 40px 40px 28px 40px;
}

.header {
  background-color: var(--red);
  height: 55px;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header i {
  padding-top: 4px;
  padding-right: 10px;
  font-size: x-large;
}

.card {
  height: 100%;
  width: 100%;
  padding: 36px;
  display: flex;
  background: white;
}

img {
  width: 125px;
  height: 160px;
  background-size: 160px, 125px;
  border-radius: 5px;
}

.card h3 {
  font-size: 25px;
}

.date {
  padding-top: 20px;
  font-size: 10px;
  font-weight: 700;
}

.description {
  padding-top: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 20px;
}

.info p {
  font-size: 10px;
}

.county {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

.country i {
  padding-top: 4px;
  padding-right: 4px;
  font-size: 10px;
  color: var(--red);
}

.span {
  font-size: 10px;
}

.hr {
  display: flex;
}
